*, ::before, ::after {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	background: #ffce8f;
}
body {
	width: 64vw;
	min-height: 100vh;
	margin: 0 auto;
	padding: 1rem;
	background: #fff8f0;
}
#skip-link {
	/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#skip-link a:focus {
	position: static;
	width: auto;
	height: auto;
}

h1 {
	font-family: sans-serif;
	font-size: 1.25em;
	margin: 0;
	padding: 0.5rem;
}
.forum-entries {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.forum-entries a {
	color: #000;
	background-color: #eee;
	text-decoration: none;
	border: 1px solid #eee;
}
.forum-entries a:link {
	color: #000;
	background-color: #eee;
	text-decoration: none;
	border: 1px solid #eee;
}
.forum-entries a:visited {
	color: #084262;
	background-color: #eee;
	text-decoration: none;
	border: 1px solid #eee;
}
.forum-entries a:focus, .forum-entries a:hover {
	color: #000;
	background-color: #fff;
	text-decoration: none;
	border: 1px dotted #ddd;
	margin-left: -1px;
	margin-right: -1px;
}
.forum-entries a:active {
	color: #000;
	background-color: #eee;
	text-decoration: none;
	border: 1px solid #eee;
	outline: none;
}
li {
	font-size: 95%;
}
.cat {
	color: #5C5C5C;
}
.name {
	color: #084262;
}
.small {
	font-size: .75em !important;
	line-height: 133.33%;
}
